body {
    /* background-color: black;
    color: white; */
    font-size: 100%;
    font-family: "Geologica", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type="checkbox"] {
    accent-color: black;
}

.list-container {
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 90%;
} 

.list-item-container {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;
}

.list-item-checkbox {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
}

.list-item-text {
    display: inline;
    margin: 0px;
    font-weight: 100;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.list-item-text-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.list-item-add-subtask {
    /* padding-left: 10px; */
    /* display: none; */
    /* flex-grow: 1; */
    
}

.list-item-child-holder {
    /* display: block; */
    background-color: aqua;
}

.list-item-text[contenteditable ="true"] {
    /* outline: 1px beige; */
}

.list-item-delete {
    padding: 0px;
}

