/* body {
    background-color: black;
    color: white;
} */

.list-container {
    margin-top: 10px;
    margin-bottom: 10px; 
} 

.list-item {
    display: flex;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
}

.list-item-text {
    display: inline;
    margin: 0px;
    flex-grow: 1;
    padding: 0px;
}

.list-item-add-subtask {
    /* flex-grow: 1; */
}

.list-item-delete {
    padding: 0px;
}