:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --list-item-text-size: 18px;
  --list-item-item-size: 18px;
}


body {
  /* background-color: black;
  color: white; */
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  margin-left: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.list-container {
  margin-top: 10px;
  margin-bottom: 10px; 
  width: 100%;
} 

.list-item-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: row;
  align-items: center;
}

.list-item-checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
}

input[type="checkbox"] {
  accent-color: black;
  width: var(--list-item-item-size);
  height: var(--list-item-item-size);
}


.list-item-text {
  display: inline;
  margin: 0px;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  font-size: var(--list-item-text-size);
}

.list-item-due-date {
  margin: 0px;
  border-radius: 5px;
  border: 1px solid black;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 8px 0px 8px;
  color: black;
  font-size: 12px;
}


.list-item-text-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.list-item-add-subtask {
  /* padding-left: 20px; */
  width: 20px;
  height: 20px;
  display: flex;
}

.list-item-arrow {
  /* padding-left: 20px; */
  width: 15px;
  height: 15px;
  display: flex;
}

.list-item-child-holder {
  /* display: block; */
}

.list-item-text[contenteditable ="true"] {
  /* outline: 1px beige; */
}

.list-item-delete {
  /* padding: 0px; */
  height: 20px;
  width: 20px;
  display: flex;

}














