:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --list-item-text-size: 18px;
  --list-item-item-size: 18px;
}


body {
  /* background-color: black;
  color: white; */
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  margin-left: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.list-container {
  margin-top: 10px;
  margin-bottom: 10px; 
  width: 100%;
} 

.list-item-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: row;
  align-items: center;
}

/* .list-item-checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
} */

input[type="checkbox"] {
  accent-color: black;
  width: var(--list-item-item-size);
  height: var(--list-item-item-size);
}


.list-item-text {
  display: inline;
  margin: 0px;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  font-size: var(--list-item-text-size);
}

.list-item-due-date {
  background-color: #66bb6a;
  margin: 0px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  padding: 0px 8px 0px 8px;
  font-size: 10px;
}


.list-item-text-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.list-item-add-subtask {
  /* padding-left: 20px; */
  width: 20px;
  height: 20px;
  display: flex;
}

.list-item-arrow {
  /* padding-left: 20px; */
  width: 15px;
  height: 15px;
  display: flex;
}

.list-item-child-holder {
  /* display: block; */
}

.list-item-text[contenteditable ="true"] {
  /* outline: 1px beige; */
}

.list-item-delete {
  /* padding: 0px; */
  height: 20px;
  width: 20px;
  display: flex;

}

/* input[type='checkbox'].list-item-round-checkbox {
  appearance: none;
  border-radius: 50%;
  border: 2px solid #141414;
}

input[type='checkbox'].list-item-round-checkbox:checked {
  appearance: none;
  border-radius: 50%;
  font-size: medium;
  border: 2px solid #141414;
  background-color: #1e90ff;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
} */


