body {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}


/* #parent {
  background-color: aqua;
} */

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 ;
  background-color: black;
  color: white;
  font-size: 20px;

}

li {
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.help {
  position: absolute;
  background-color: brown;
}